---
import ExampleComponent from '@/components/ExampleComponent.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <main>
    <h1>Candura</h1>

    <ExampleComponent title="A base to start building with Astro" content="¬ | ¬" />
  </main>
</Layout>

<style lang="scss"></style>
