---

---

<div class="divider" aria-hidden="true">
  <svg viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    7 + <path d="M0,0 L1440,0 L1440,30 C1080,16 360,44 0,30 Z" fill="var(--green)"></path>
    8 + <path d="M0,30 C360,44 1080,16 1440,30 L1440,60 L0,60 Z" fill="var(--pink)"></path>
  </svg>
</div>

<style lang="scss">
  .divider {
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      display: block;
      width: 100%;
      height: 20px;
    }
  }
</style>
