---

---

<div class="divider" aria-hidden="true">
  <span style="background: var(--blue)"></span>
  <span style="background: var(--purple)"></span>
  <span style="background: var(--yellow)"></span>
  <span style="background: var(--red)"></span>
  <span style="background: var(--pink)"></span>
  <span style="background: var(--orange)"></span>
  <span style="background: var(--green)"></span>
</div>

<style lang="scss">
  .divider {
    display: flex;
    width: 100%;
    height: 6px;
    gap: 2px;

    span {
      flex: 1;
    }
  }
</style>
