---

---

<div class="divider" aria-hidden="true">
  <svg viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path d="M0,38 C360,58 1080,14 1440,38 L1440,60 L0,60 Z" fill="var(--pink)"></path>
    <path d="M0,26 C360,6 1080,46 1440,26 L1440,48 L0,48 Z" fill="var(--green)"></path>
  </svg>
</div>

<style lang="scss">
  .divider {
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      display: block;
      width: 100%;
      height: 60px;
    }
  }
</style>
