---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<section class="text-block">
  <h2>{title}</h2>
  <p>{body}</p>
</section>

<style lang="scss">
  .text-block {
    max-width: 45%;
    margin: auto;
    margin-top: 10vh;

    h2 {
      font-family: var(--font-display);
      font-size: 3rem;
      font-weight: 700;
      color: var(--black);
      margin: 0 0 1rem;
      line-height: 1.2;
    }

    p {
      font-family: var(--font-body);
      font-size: 1.0625rem;
      line-height: 1.75;
      color: var(--black);
      opacity: 0.75;
      margin: 0;
    }
  }
</style>
